{% extends "base.html" %}

{% block title %}
    <title>Изменение пароля</title>
{% endblock %}

{% block content %}
{% load user_filters %}
    <div class="container py-5">
        <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
            <div class="card-header">
                Изменить пароль
            </div>
            {%include 'users/copy_new_password.html'%}
            </div> <!-- card -->
        </div> <!-- col -->
        </div> <!-- row -->
    </div>
{% endblock %}
